**/log/
**/vis/
__pycache__/
.idea/
*.pyc
*.swp
*.job.*/
*/temp-plot.html
results/
**/results/*
trained_models/
**/*_ims_*/*
**/log*/
*.zip
*.tar.gz
*.tar.xz
data/deep_geometric_prior_data
data/NSP_dataset
data/scene_reconstruction
data/ShapeNetNSP
/data
sanitychecks/out/
/*.mp4
/sanitychecks/*.png
/sanitychecks/*.html
/surface_reconstruction/out/
/surface_reconstruction/*.png
/surface_reconstruction/*.html
/surface_reconstruction/debug.py
/out/
/*.html