*.html
*.job.*
*.mp4
*.png
*.pyc
*.swp
*.tar.gz
*.tar.xz
*.zip
**/*_ims_*/*
**/log/
**/results/*
**/vis/
__pycache__/
.idea/
/out/
/data
/results/
/sanitychecks_out/
/surface_reconstruction/
/train/debug.py
data/NSP_dataset
data/ShapeNetNSP
data/deep_geometric_prior_data
data/scene_reconstruction
trained_models/