matplotlib==3.3.4
scipy==1.6.2
trimesh==3.9.14
scikit_image==0.18.1
tqdm==4.60.0
# torch==1.8.0 # Install with instructions from https://pytorch.org/get-started/locally/
plyfile==0.7.2
numpy
open3d
Pillow==8.2.0
tensorboardX
requests
psutil
# plotly # should install plotly-orca from conda
kaleido==0.2.1
opencv-python
point_cloud_utils